section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userContainer{
    width: 600px;
}
#userHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#profilePhoto{
    width: 100px;
    height: 100px;
}