<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="loggedIn">
        <div *ngIf="loggedIn" id="sidButtons">
            <button mat-icon-button routerLink="/posts">
                <mat-icon>
                    <span class="material-symbols-outlined">
                        manage_search
                    </span>
                </mat-icon>
            </button>
            <button mat-icon-button routerLink="/create-post">
                <mat-icon>
                    <span class="material-symbols-outlined"> send </span>
                </mat-icon>
            </button>
            <button mat-icon-button routerLink="/user-profile">
                <mat-icon>
                    <span class="material-symbols-outlined"> person </span>
                </mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <section style="height: 800px">
            <app-tool-bar
                [loggedIn]="loggedIn"
                [sidenavOpened]="sidenav.opened"
                (toggleSidenavEvent)="sidenav.toggle()"
                (logoutEvent)="logoutUser()"
            ></app-tool-bar>
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>