<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Show people what are your insights today
            </mat-card-title>
            <mat-card-subtitle>
                Remember publishing your post after creating it
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="postForm" (ngSubmit)="onSubmitPostBtnClick()">
                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Post title"
                        formControlName="title"
                    />
                </mat-form-field>
                <mat-form-field>
                    <textarea
                        matInput
                        placeholder="Start writing"
                        cdkTextareaAutosize
                        formControlName="text"
                    ></textarea>
                </mat-form-field>
                <div class="post-form-buttons">
                    <button mat-flat-button color="primary">Save as draft post</button>
                    <button mat-flat-button color="primary">Publish post</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>
