<section class="user-profile-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="pfp-container">
                    <img
                        src="../../../assets/162094261.jfif"
                        id="profilePicture"
                        (click)="fileInput.click()"
                    />
                    <!-- <p class="pfp-tooltip">Select picture</p> -->
                </div>
                <input
                    type="file"
                    #fileInput
                    style="display: none"
                    (click)="onSelectProfilePicture()"
                />
            </mat-card-title>
            <mat-card-subtitle style="font-size: xx-large">
                <br />Ivan
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Activity"></mat-tab>
                <mat-tab label="Followers/Following"></mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</section>
