section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#profilePicture:hover {
    cursor: pointer;
    filter: blur(4px);
}

.mat-mdc-card {
    margin: 40px;
    width: 70%;
}

.mat-mdc-card-content {
    display: block;
}

// .pfp-container {
//     position: relative;
//     display: inline-block;
// }

// .pfp-tooltip {
//     background-color: white;
//     color: black;
//     opacity: 0;
//     height: 50px;
//     font-size: small;
// }

// .pfp-container:hover .pfp-tooltip {
//     transform: translate(0%,  -130%);
//     opacity: 1;
//     transition: opacity 0.3s transform 0.3s ease;
// }