<section>
  <div id="postContainer">
    <mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile >
            <mat-card id="post">
                <mat-card-header>
                  <div mat-card-avatar>
                     <img style="height: 50px; width: 50px;" src="../../../assets/162094261.jfif">
                  </div>
                  <mat-card-subtitle>azuca</mat-card-subtitle>
                  <mat-card-title>azuquita</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quos quaerat, minima laborum ipsum magnam nemo provident repellat ea iure animi quia cupiditate, cum, nobis dolores asperiores nulla nihil architecto.
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="post">
                <mat-card-header>
                  <div mat-card-avatar>
                      <mat-icon> <span class="material-symbols-outlined">
                          search
                          </span></mat-icon>
                  </div>
                  <mat-card-subtitle>azuca</mat-card-subtitle>
                  <mat-card-title>azuquita</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quos quaerat, minima laborum ipsum magnam nemo provident repellat ea iure animi quia cupiditate, cum, nobis dolores asperiores nulla nihil architecto.
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="post">
                <mat-card-header>
                  <div mat-card-avatar>
                      <mat-icon> <span class="material-symbols-outlined">
                          search
                          </span></mat-icon>
                  </div>
                  <mat-card-subtitle>azuca</mat-card-subtitle>
                  <mat-card-title>azuquita</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quos quaerat, minima laborum ipsum magnam nemo provident repellat ea iure animi quia cupiditate, cum, nobis dolores asperiores nulla nihil architecto.
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>


</section>
