<section>
  <div id="postContainer">
    <mat-grid-list cols="1" rowHeight="150px">
      @for(post of allPosts ; track $index){
        <mat-grid-tile >
          <mat-card id="post">
              <mat-card-header>
                <div mat-card-avatar>
                   <img style="height: 50px; width: 50px;" src="../../../assets/162094261.jfif">
                </div>
                <mat-card-subtitle>{{post.user}}</mat-card-subtitle>
                <mat-card-title>{{post.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                {{post.description}}
              </mat-card-content>
            </mat-card>
      </mat-grid-tile>
      }  
    </mat-grid-list>
</div>


</section>
