<section>
    <mat-grid-list cols="1" rowHeight="150px" gutterSize="20px">
        @if(filteredPosts){
            <ng-container *ngFor="let post of filteredPosts">
                <mat-grid-tile>
                    <mat-card id="post" (click)="onPostCardClick(post.id)">
                        <mat-card-header>
                            <mat-card-title>{{ post.title }}</mat-card-title>
                            <mat-card-subtitle>
                                By {{ post.createdBy }} on
                                {{
                                    post.publishedOn | date : "mm/dd/yyyy"
                                }}</mat-card-subtitle
                            >
                        </mat-card-header>
                        <mat-card-content>
                            {{ post.content }}
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </ng-container>
        }
        
    </mat-grid-list>
</section>