<mat-toolbar
    color="primary"
    style="display: flex; flex-direction: row; height: 80px; gap: 50px"
>
    <button
        *ngIf="loggedIn"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="onMenuIconBtnClick()"
    >
        <mat-icon>{{
            sidenavOpened ? "keyboard_arrow_left" : "menu"
        }}</mat-icon>
    </button>
    <span>Deep Daily Insights</span>
    <form [formGroup]="searchForm" (ngSubmit)="submitSearch()" style="width: 30%;margin-top: 20px;">
        <mat-form-field *ngIf="loggedIn" style="width: 100%;" >
            <mat-icon matIconPrefix>
                <span class="material-symbols-outlined"> search </span>
            </mat-icon>
            <input matInput type="search" placeholder="Search" formControlName="search" [matAutocomplete]="auto" (keyup)="filterOptions()"/>
            <mat-autocomplete #auto="matAutocomplete" style="max-height: 300px; overflow-y: scroll;">
                @if(_searchService.searchOptions$ | async ; as searchOptions){
                    @for(option of searchOptions ; track $index){
                        <mat-option value="{{option}}">{{option}}</mat-option>
                    }
    
                }
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button>GO</button>
    </form>
   

    <div *ngIf="!loggedIn" id="auth-buttons">
        <button mat-raised-button routerLink="signin">Sign In</button>
        <button mat-raised-button routerLink="signup">Sign Up</button>
    </div>
    <div *ngIf="loggedIn" id="auth-buttons">
        <button mat-raised-button (click)="onLogoutBtnClick()">Log out</button>
    </div>
</mat-toolbar>
