<mat-toolbar
    color="primary"
    style="display: flex; flex-direction: row; height: 80px; gap: 50px"
>
    <button
        *ngIf="loggedIn"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="onMenuIconBtnClick()"
    >
        <mat-icon>{{
            sidenavOpened ? "keyboard_arrow_left" : "menu"
        }}</mat-icon>
    </button>
    <span>Deep Daily Insights</span>
    <mat-form-field *ngIf="loggedIn" style="margin-top: 20px; width: 30%">
        <mat-icon matIconPrefix>
            <span class="material-symbols-outlined"> search </span>
        </mat-icon>
        <input matInput type="search" placeholder="Search" />
    </mat-form-field>

    <div *ngIf="!loggedIn" id="auth-buttons">
        <button mat-raised-button routerLink="signin">Sign In</button>
        <button mat-raised-button routerLink="signup">Sign Up</button>
    </div>
    <div *ngIf="loggedIn" id="auth-buttons">
        <button mat-raised-button (click)="onLogoutBtnClick()">Log out</button>
    </div>
</mat-toolbar>
