<mat-toolbar
    color="primary"
    style="height: 80px; gap: 30px;"
>
    <button
        *ngIf="loggedIn"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="emitOpenSideNav()"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span>Deep Daily Insights</span>
    <mat-form-field style="margin-top: 20px;">
        <mat-icon matIconPrefix>
            <span class="material-symbols-outlined"> search </span>
        </mat-icon>
        <input matInput type="search" placeholder="Search" />
    </mat-form-field>
</mat-toolbar>
