section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

// #post {
//     width: 400px;
//     margin: 20px;
// }

.mat-grid-tile {
    margin: 20px;
}

.mat-grid-list {
    width: 800px;
}
