<section>
    <h1 id="formHeader">Make Your Post</h1>
    <div id="formContainer">
        <form #postForm ="ngForm" (ngSubmit)="onSubmit(postForm)">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <mat-form-field style="width: 300px;">
                    <input matInput type="text" placeholder="Title" name="user" ngModel>
                </mat-form-field>
                <button mat-flat-button color="primary">Post</button>
            </div>
            <mat-form-field style="width: 600px;">
                <textarea matInput placeholder="Description" cdkTextareaAutosize name="title" ngModel></textarea>
            </mat-form-field>
            <mat-form-field style="width: 600px;display: block;">
                <textarea matInput placeholder="Start Writing"  cdkTextareaAutosize name="description" ngModel></textarea>
            </mat-form-field>
          
        </form>
    </div>
    
</section>
